<div class="contantMajorContainer">

  <div class="boardConatiner" [style.opacity]="surfOpacity1">
  <img src="../assets/SurfCin.gif" width="300px" />
  <h3>About</h3>
  </div>

  <article [style.opacity]="surfOpacity1">
    The goal is to have a monthly business group that <b>supports</b>, <b>mentors</b> and <b>trades</b> resources with each other. We would understand each other's business and know how to best talk with our networks to promote each other. Instead of trying to pressure each other into creating leads we can just have leads develop organicly; it's best when the customer is truly in need of a service. Because we will have differenct companies, producs and servces we can give advice related to our skills and experience. And if someone wants to do a free exchange of services or products it could be a great deal for both members of the club.
  </article>
</div>