<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" >
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    

  <div class="container">
    <button mat-button class="mobileSideNav" (click)="sidenav.toggle()">&#x2715;</button>
  	<app-navbar class="navbarContainer" [style.background-color]="navBackgoundColorChange"></app-navbar>
    <app-hero></app-hero>
    <div class="superContentContainer">
      <app-contentmajor class="stickyContentM" [style.position]="stickyMajor" [style.display]="stickyMajor2"></app-contentmajor>
      <app-whoweare></app-whoweare>
    </div>
    <router-outlet></router-outlet>
  </div>







  </mat-sidenav-content>
</mat-sidenav-container>
