@media only screen and (min-width: 601px) {
  .mobileSideNav {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .mobileSideNav {
    display: block;
  }
}

.navbarContainer {
    position: fixed;
    z-index: 3;
}
.stickyContentM{
    width: 100%;
    height: 2000px;
    z-index: 3;
    top: 0;
 }
 app-navbar.navbarContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #d2daf738;
}