<div class="whoWeAreContainer" [style.opacity]="whoWeAreOpacity">
	<div class="whoWeAreContent">
		<div class="innerUsPic">
			<h3>Our <br/> Companies</h3>
			<video width="320" height="250" autoplay loop>
			  <source src="../../assets/waveCine.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>
	</div>
	<div class="companiesContainerField">
		<fieldset>
			<legend>Companies</legend>
			<table class="tg">
			  <tr>
			    <th class="tg-0pky"><img src="../assets/youtubeBanner.png" width="60%" /> </th>
			    <th class="tg-0pky"><img src="../assets/company_brand_naming.jpg" width="33%" /> </th>
			    <th class="tg-0lax"><img src="../assets/company_brand_naming.jpg" width="33%" /> </th>
			  </tr>
			</table>
		</fieldset>
	</div>
</div>