@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body {
    display: block;
    margin: 0px;
	max-width: 100%;
    overflow-x: hidden;    
}

*{ font-family: 'Darker Grotesque', sans-serif; }

legend {
    text-align: center;
}
.fixNav{
	height: 90vh;
}
 
legend {
    margin: 0;
    padding: 0 10px;
    font-size: 1.2em;
}
fieldset{
	height: 250px;
}

.contantMajorContainer {
    height: 92vh;
    display: grid;
    grid-template-columns: 30% 70%;
}
article {
    font-size: 20px;
    margin: 0 10% 0 0;
    text-align: justify;
}